extends layout

block content
  #fullpage
    .section#landingsection
      #main
        h1#main Single Page Applications
        h3#main Let us help you create and host single page web application most efficient and cost effective way
        // hr
    .section#pricingsection
      #pricing
        p our pricing model
    .section#mailsection
      #mail
        include mailchimp.jade
    .section#subscribesection
      #subscribe
        include paypal.jade
