extends layout

block content
  #fullpage
    .section#landingsection
      #main
        h1#main.res-center Single Page Applications
        h3#main.res-center Let us help you create and host single page web application most efficient and cost effective way
    .section#pricingsection
      #pricing.res-center
        .create.information
          h3 Create
          h1 $200 one time
          ul
            li Email support
            li We create your single page application
            li We get your feedback during development
            li First two weeks money back gurantee, no questions asked
        .host.information
          h3 Host
          h1 $10 <span> per month </span>
          ul
            li Email support
            li We host your single page application
            li We help you to setup custom domain
            li Real person to talk if you have issues with your website
            li First two weeks money back gurantee, no questions asked
    .section#mailsection
      #mail.res-left
        include mailchimp.jade
    .section#subscribesection
      #subscribe.res-center
        .create.information
          h3 Create
          h1 $200 <span> one time </span>
          include paypal_create.jade
        .host.information
          h3 Host
          h1 $10 <span> per month </span>
          include paypal_host.jade
  include googleanalytics.jade
  include zopim.jade
