extends layout

block content
  h3 Welcome to single page website
  div(id="fullpage")
    div.section Some section one
    div.section Some section two
    div.section Some section three
      div.slide Slide 1
      div.slide Slide 2
      div.slide Slide 3
      div.slide Slide 4
    div.section Some section four
