// Main styles

#main
  padding-left: 150px
  padding-top: 0

#main > h1
  font-size: 3em
  font-family: 'Paytone One', sans-serif
  color: yellow
  padding: 0
  margin: 0
  margin-left: 100px
  text-transform: uppercase;

#main > h3
  font-size: 1.5em
  font-family: 'Didact Gothic', sans-serif;
  color: White
  padding: 0
  padding-top: 10px
  margin: 0

#main > hr
  padding: 0
  margin: 0
  width: 30%
  margin-top: 10px
  margin-left: 180px

.res-center
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

.res-left
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

// Pricing styles
#pricing
  padding-left: 150px
  padding-top: 0
  width: 90%
  overflow: hidden
  color: white


.information h3
  font-family: 'Paytone One', sans-serif
  font-size: 1.8em

.information h1
  font-family: 'Paytone One', sans-serif
  font-size: 2em

.information ul li
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.5em

.information ul
  margin: 0
  padding: 0
  list-style: none

.create
  width: 40%
  float: left

.host
  margin-left: 40%
  width: 40%
  heigth: 100%

// Mailing lis styles
#mail
  padding-left: 150px
  padding-top: 20px

#mail h2
  font-family: 'Paytone One', sans-serif

#mail > iframe
  padding: 0
  margin: 0
  width: 80%
  background-color: #1B2727
  border: 0

input#mce-EMAIL
  background: transparent;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  font-family: 'Didact Gothic', sans-serif;
  color: white
  font-size: 1.5em

#mc-embedded-subscribe
  background-color: #1B2727
  margin-top: 20px
  font-family: 'Didact Gothic', sans-serif;
  background: transparent
  border: none
  color: white
  font-size: 1.5em

#mc_embed_signup_scroll > h2
  color: white
  font-size: 2em

// Subscription and payment styles

#subscribe
  padding-left: 150px
  padding-top: 0
  font-family: 'Didact Gothic', sans-serif
  width: 90%
  overflow: hidden
  color: white

// background images
#landingsection
  background-image: url("../img/macbook2.jpg")
  background-size: 100% auto

#pricingsection
  background-image: url("../img/computer2.jpg")
  background-size: 100% auto

#mailsection
  background-image: url("../img/business2.jpg")
  background-size: 100% auto

#subscribesection
  background-image: url("../img/creditcard2.jpg")
  background-size: 100% auto
